<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/mvc   
    http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/tx   
    http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
    
    <!-- 1.引入数据库连接 -->
	<context:property-placeholder location="classpath:db.properties"/>
	
	<!-- 2.配置C3P0数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
        destroy-method="close">
        <!--驱动类名 -->
        <property name="driverClass" value="${driver}" />
        <!-- url -->
        <property name="jdbcUrl" value="${url}" />
        <!-- 用户名 -->
        <property name="user" value="${user_name}" />
        <!-- 密码 -->
        <property name="password" value="${password}" />
        <!-- 当连接池中的连接耗尽的时候c3p0一次同时获取的连接数 -->
        <property name="acquireIncrement" value="${acquireIncrement}"></property>
        <!-- 初始连接池大小 -->
        <property name="initialPoolSize" value="${initialPoolSize}"></property>
       <!--  连接池中连接最小个数 -->
        <property name="minPoolSize" value="${minPoolSize}"></property>
        <!-- 连接池中连接最大个数 -->
        <property name="maxPoolSize" value="${maxPoolSize}"></property>
    </bean>

	<!-- 3.mybatis的sqlSessionFactory对象交由spring容器管理 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	    <property name="dataSource" ref="dataSource"></property>
	    <!-- 注入mybatis配置文件 -->
	    <property name="configLocation" value="classpath:mybatis-config.xml"></property>
	    <!-- 注入mybatis映射文件 -->
	    <property name="mapperLocations" value="classpath:com/nywl/dao/mapper/*.xml"></property>
    </bean>
	
	<!--4.支持mybatis面向接口的开发，扫描接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定会话工厂，如果当前上下文中只定义了一个则该属性可省去 -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <!-- 指定要自动扫描接口的基础包 -->
        <property name="basePackage" value="com.nywl.dao"></property>
    </bean>

</beans>